<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Dream Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Dream Teams from {{ team1 }} & {{ team2 }}</h1>

    {% for team in dream_teams %}
    <div class="team-box">
        <h2>Dream Team {{ loop.index }}</h2>
        <p><b>Captain:</b> {{ team.captain }}</p>
        <p><b>Vice Captain:</b> {{ team.vice_captain }}</p>

        <h3>Batsmen</h3>
        <ul>
            {% for player in team.players["Batsmen"] %}
                <li>{{ player }}</li>
            {% endfor %}
        </ul>

        <h3>Bowlers</h3>
        <ul>
            {% for player in team.players["Bowlers"] %}
                <li>{{ player }}</li>
            {% endfor %}
        </ul>

        <h3>All-rounders</h3>
        <ul>
            {% for player in team.players["All-rounders"] %}
                <li>{{ player }}</li>
            {% endfor %}
        </ul>

        <h3>Wicket-keepers</h3>
        <ul>
            {% if team.players["Wicket-keepers"] %}
                {% for player in team.players["Wicket-keepers"] %}
                    <li>{{ player }}</li>
                {% endfor %}
            {% else %}
                <p>No players available</p>
            {% endif %}
        </ul>
    </div>
    {% endfor %}

    <a href="/"><button class="small-button">Generate Again </button></a>
</body>
</html>
